# Dataset verwerken

In [1]:
import pandas as pd

In [2]:
df_2022 = pd.read_csv('Fifa_world_cup_matches.csv')
df_2022.head()

,team1,team2,possession team1,possession team2,possession in contest,number of goals team1,number of goals team2,date,hour,category,...,penalties scored team1,penalties scored team2,goal preventions team1,goal preventions team2,own goals team1,own goals team2,forced turnovers team1,forced turnovers team2,defensive pressures applied team1,defensive pressures applied team2
0,QATAR,ECUADOR,42%,50%,8%,0,2,20 NOV 2022,17 : 00,Group A,...,0,1,6,5,0,0,52,72,256,279
1,ENGLAND,IRAN,72%,19%,9%,6,2,21 NOV 2022,14 : 00,Group B,...,0,1,8,13,0,0,63,72,139,416
2,SENEGAL,NETHERLANDS,44%,45%,11%,0,2,21 NOV 2022,17 : 00,Group A,...,0,0,9,15,0,0,63,73,263,251
3,UNITED STATES,WALES,51%,39%,10%,1,1,21 NOV 2022,20 : 00,Group B,...,0,1,7,7,0,0,81,72,242,292
4,ARGENTINA,SAUDI ARABIA,64%,24%,12%,1,2,22 NOV 2022,11 : 00,Group C,...,1,0,4,14,0,0,65,80,163,361

In [3]:
selected_columns = df_2022.loc[:, ['yellow cards team1', 'yellow cards team2', 'red cards team1', 'red cards team2', 'free kicks team1',
       'free kicks team2']]
print(selected_columns)

    yellow cards team1  yellow cards team2  red cards team1  red cards team2  \
0                    4                   2                0                0
1                    0                   2                0                0
2                    2                   1                0                0
3                    4                   2                0                0
4                    0                   6                0                0
..                 ...                 ...              ...              ...
59                   1                   3                0                0
60                   2                   2                0                0
61                   0                   1                0                0
62                   0                   2                0                0
63                   4                   3                0                0

    free kicks team1  free kicks team2
0                 19                17
1                 16                10
2                 14                14
3                 11                15
4                 22                16
..               ...               ...
59                14                11
60                 6                16
61                13                15
62                13                15
63                22                28

[64 rows x 6 columns]

In [4]:
df_2018 = pd.read_csv('FIFA 2018 Statistics.csv')
print(df_2018)

           Date          Team      Opponent  Goal Scored  Ball Possession %  \
0    14-06-2018        Russia  Saudi Arabia            5                 40
1    14-06-2018  Saudi Arabia        Russia            0                 60
2    15-06-2018         Egypt       Uruguay            0                 43
3    15-06-2018       Uruguay         Egypt            1                 57
4    15-06-2018       Morocco          Iran            0                 64
..          ...           ...           ...          ...                ...
123  11-07-2018       England       Croatia            1                 46
124  14-07-2018       Belgium       England            2                 43
125  14-07-2018       England       Belgium            0                 57
126  15-07-2018        France       Croatia            4                 39
127  15-07-2018       Croatia        France            2                 61

     Attempts  On-Target  Off-Target  Blocked  Corners  ...  Yellow Card  \
0          13          7           3        3        6  ...            0
1           6          0           3        3        2  ...            0
2           8          3           3        2        0  ...            2
3          14          4           6        4        5  ...            0
4          13          3           6        4        5  ...            1
..        ...        ...         ...      ...      ...  ...          ...
123        11          1           6        4        4  ...            1
124        12          4           3        5        4  ...            1
125        15          5           7        3        5  ...            2
126         8          6           1        1        2  ...            2
127        15          3           8        4        6  ...            1

     Yellow & Red  Red  Man of the Match  1st Goal         Round  PSO  \
0               0    0               Yes      12.0   Group Stage   No
1               0    0                No       NaN   Group Stage   No
2               0    0                No       NaN   Group Stage   No
3               0    0               Yes      89.0   Group Stage   No
4               0    0                No       NaN   Group Stage   No
..            ...  ...               ...       ...           ...  ...
123             0    0                No       5.0  Semi- Finals   No
124             0    0               Yes       4.0     3rd Place   No
125             0    0                No       NaN     3rd Place   No
126             0    0               Yes      18.0         Final   No
127             0    0                No      28.0         Final   No

     Goals in PSO  Own goals  Own goal Time
0               0        NaN            NaN
1               0        NaN            NaN
2               0        NaN            NaN
3               0        NaN            NaN
4               0        1.0           90.0
..            ...        ...            ...
123             0        NaN            NaN
124             0        NaN            NaN
125             0        NaN            NaN
126             0        1.0           18.0
127             0        NaN            NaN

[128 rows x 27 columns]

In [5]:
# Samenvoegen van rijen in de kolom 'Fouls Committed'
df = df_2018.groupby(df_2018.index // 2).agg({
    'Fouls Committed': 'sum'
}).reset_index(drop=True)

# Resultaat weergeven
display(df)
statistieken = df['Fouls Committed'].describe()
print(statistieken)

    Fouls Committed
0                32
1                18
2                36
3                22
4                35
..              ...
59               43
60               22
61               37
62               16
63               27

[64 rows x 1 columns]

count    64.00000
mean     27.09375
std       6.81669
min      12.00000
25%      22.00000
50%      25.00000
75%      32.00000
max      43.00000
Name: Fouls Committed, dtype: float64

In [6]:
# kolommen een nieuwe naam geven om ze vervolgens de datasets samen te voegen.
df_2018 = df_2018.rename(columns = {'Team': 'team1'})
df_2018 = df_2018.rename(columns = {'Opponent': 'team2'})

In [7]:
namen_kolommen2022 = df_2022.columns
print(namen_kolommen2022)

namen_kolommen2018 = df_2018.columns
print(namen_kolommen2018)

Index(['team1', 'team2', 'possession team1', 'possession team2',
       'possession in contest', 'number of goals team1',
       'number of goals team2', 'date', 'hour', 'category',
       'total attempts team1', 'total attempts team2', 'conceded team1',
       'conceded team2', 'goal inside the penalty area team1',
       'goal inside the penalty area team2',
       'goal outside the penalty area team1',
       'goal outside the penalty area team2', 'assists team1', 'assists team2',
       'on target attempts team1', 'on target attempts team2',
       'off target attempts team1', 'off target attempts team2',
       'attempts inside the penalty area team1',
       'attempts inside the penalty area  team2',
       'attempts outside the penalty area  team1',
       'attempts outside the penalty area  team2', 'left channel team1',
       'left channel team2', 'left inside channel team1',
       'left inside channel team2', 'central channel team1',
       'central channel team2', 'right inside channel team1',
       'right inside channel team2', 'right channel team1',
       'right channel team2', 'total offers to receive team1',
       'total offers to receive team2', 'inbehind offers to receive team1',
       'inbehind offers to receive team2', 'inbetween offers to receive team1',
       'inbetween offers to receive team2', 'infront offers to receive team1',
       'infront offers to receive team2',
       'receptions between midfield and defensive lines team1',
       'receptions between midfield and defensive lines team2',
       'attempted line breaks team1', 'attempted line breaks team2',
       'completed line breaksteam1', 'completed line breaks team2',
       'attempted defensive line breaks team1',
       'attempted defensive line breaks team2',
       'completed defensive line breaksteam1',
       'completed defensive line breaks team2', 'yellow cards team1',
       'yellow cards team2', 'red cards team1', 'red cards team2',
       'fouls against team1', 'fouls against team2', 'offsides team1',
       'offsides team2', 'passes team1', 'passes team2',
       'passes completed team1', 'passes completed team2', 'crosses team1',
       'crosses team2', 'crosses completed team1', 'crosses completed team2',
       'switches of play completed team1', 'switches of play completed team2',
       'corners team1', 'corners team2', 'free kicks team1',
       'free kicks team2', 'penalties scored team1', 'penalties scored team2',
       'goal preventions team1', 'goal preventions team2', 'own goals team1',
       'own goals team2', 'forced turnovers team1', 'forced turnovers team2',
       'defensive pressures applied team1',
       'defensive pressures applied team2'],
      dtype='object')
Index(['Date', 'team1', 'team2', 'Goal Scored', 'Ball Possession %',
       'Attempts', 'On-Target', 'Off-Target', 'Blocked', 'Corners', 'Offsides',
       'Free Kicks', 'Saves', 'Pass Accuracy %', 'Passes',
       'Distance Covered (Kms)', 'Fouls Committed', 'Yellow Card',
       'Yellow & Red', 'Red', 'Man of the Match', '1st Goal', 'Round', 'PSO',
       'Goals in PSO', 'Own goals', 'Own goal Time'],
      dtype='object')

In [8]:
merged_df = df_2022.merge(df_2018, on = ['team1', 'team2'], how = 'outer')
display(merged_df)

,team1,team2,possession team1,possession team2,possession in contest,number of goals team1,number of goals team2,date,hour,category,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,QATAR,ECUADOR,42%,50%,8%,0.0,2.0,20 NOV 2022,17 : 00,Group A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ENGLAND,IRAN,72%,19%,9%,6.0,2.0,21 NOV 2022,14 : 00,Group B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SENEGAL,NETHERLANDS,44%,45%,11%,0.0,2.0,21 NOV 2022,17 : 00,Group A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UNITED STATES,WALES,51%,39%,10%,1.0,1.0,21 NOV 2022,20 : 00,Group B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARGENTINA,SAUDI ARABIA,64%,24%,12%,1.0,2.0,22 NOV 2022,11 : 00,Group C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Belgium,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,0.0,No,NaN,Semi- Finals,No,0.0,NaN,NaN
188,Croatia,England,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,0.0,0.0,Yes,68.0,Semi- Finals,No,0.0,NaN,NaN
189,England,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,No,5.0,Semi- Finals,No,0.0,NaN,NaN
190,France,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,0.0,0.0,Yes,18.0,Final,No,0.0,1.0,18.0
191,Croatia,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,No,28.0,Final,No,0.0,NaN,NaN

In [9]:
namen_kolommen_merged = merged_df.columns
display(namen_kolommen_merged)

Index(['team1', 'team2', 'possession team1', 'possession team2',
       'possession in contest', 'number of goals team1',
       'number of goals team2', 'date', 'hour', 'category',
       ...
       'Yellow Card', 'Yellow & Red', 'Red', 'Man of the Match', '1st Goal',
       'Round', 'PSO', 'Goals in PSO', 'Own goals', 'Own goal Time'],
      dtype='object', length=113)

In [14]:
merged_df.to_csv('wk_merged_datasets.csv', index=False)